<div *ngIf="need">
    <h2>Tree Details</h2>
    <div><span>id: </span>{{ need.id }}</div>
    <div>
      <label for="need-name">Need Name: </label>
      <input id="need" [(ngModel)]="need.name" placeholder="need"/>
      <br />
      <label for="need-description">Need Description: </label>
      <input
        id="need"
        [(ngModel)]="need.description"
        placeholder="Description"
      />
      <br />
      <label for="need-cost">Need Cost: </label>
      <input id="need"
      [(ngModel)]="need.cost"
        placeholder="Cost"
      />
    </div>
    <button type="button" (click)="save()">save</button>
  </div>
  
  
  