<div *ngIf="need">
    <h2>Tree Details</h2>
    <p class="treeId">id: {{ need.id }}</p>
    <div>
      <h4>Tree Name: </h4>
      <textarea 
        class="need-name" 
        [(ngModel)]="need.name" 
        placeholder="Name">
      </textarea>
      <br>
      <h4>Tree Cost: </h4>
      <textarea 
        class="need-cost" 
        type="number" 
        [(ngModel)]="need.cost"
        placeholder="Cost"
        #needCost>
      </textarea>
      <br>
      <h4>Tree Age: </h4>
      <textarea 
        class="need-age" 
        type="number" 
        [(ngModel)]="need.age"
        placeholder="Age"
        #needAge>
      </textarea>
      <br>
      <h4>Tree Description: </h4>
      <textarea 
        class="need-description" 
        [(ngModel)]="need.description"
        placeholder="Description"
        #needDescription>
      </textarea>
      <br>
    </div>
    <button type="button" (click)="save()">Save</button>
  </div>
  
  
  