<div *ngIf="need">
    <h2>Tree Details</h2>
    <div><span>id: </span>{{ need.id }}</div>
    <div>
      <label for="need-name">Tree Name: </label>
      <input id="need" [(ngModel)]="need.name" placeholder="Name"/>
      <br />
      <label for="need-description">Tree Description: </label>
      <input
        id="need"
        [(ngModel)]="need.description"
        placeholder="Description"
      />
      <br />
      <label for="need-cost">Need Cost: </label>
      <input id="need"
      [(ngModel)]="need.cost"
        placeholder="Cost"
      />
      <br>
      <label for="need-age">Need Age: </label>
      <input id="need"
      [(ngModel)]="need.age"
      placeholder="Age"
      />
    </div>
    <button type="button" (click)="save()">save</button>
  </div>
  
  
  