form {
  width: 300px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #333;
}

.field {
  border: solid 1px #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 10px;
  background: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 10px;
  background: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #0056b3;
}
