<a href="login">
  <button class="logout">Logout</button>
</a>

<h2>List of Trees</h2>
<h3>Filter by...</h3>
<button type="button" (click)="costFilterAsc()">Cost (Ascending)</button>
<button type="button" (click)="costFilterDes()">Cost (Descending)</button>
<button type="button" (click)="ageFilterAsc()">Age (Ascending)</button>
<button type="button" (click)="ageFilterDes()">Age (Descending)</button>

<ul class="needs">
  <li *ngFor="let need of needs">
    <button
      [class.selected]="need === selectedNeed"
      type="button"
      (click)="onSelect(need)"
    >
      <span class="name">{{ need.name }}</span> - $<span class="cost">{{
        need.cost
      }}</span>
    </button>
  </li>
</ul>
<app-need-detail [need]="selectedNeed"></app-need-detail>
<app-cart></app-cart>
