<a href="login">
  <button class="logout">Logout</button>
</a>


<h2>List of Trees</h2>
<div class = "container">
  <ul class="needs">
    <li *ngFor="let need of needs">
      <button
        [class.selected]="need === selectedNeed"
        type="button"
        (click)="onSelect(need)"
      >
        <span class="name">{{ need.name }}</span> - $<span class="cost">{{
          need.cost
        }}</span>
      </button>
    </li>
  </ul>
  <app-need-detail [need]="selectedNeed"></app-need-detail>  
  <div class = "cartBuffer"></div>
</div>

<app-cart></app-cart>
