<div *ngIf="need">
  <h2>Tree Details</h2>
  <div>
    <label for="need-name">Need Name: </label>
    <input id="need" [(ngModel)]="need.name" placeholder="need" readonly />
    <br />
    <label for="need-description">Need Description: </label>
    <input
      id="need"
      [(ngModel)]="need.description"
      placeholder="Need"
      readonly
    />
    <br />
    <label for="need-cost">Need Cost: </label>
    <input id="need" [(ngModel)]="need.cost" placeholder="Cost" readonly />
    <br />
    <label for="need-age">Need Age: </label>
    <input id="need" [(ngModel)]="need.age" placeholder="Age" readonly />
    <div *ngIf="isUser() == true">
      <button (click)="addToCart(need)">Add to Cart</button>
    </div>
    <div class="cost-box">
          <label for="need-cost">Tree Cost: </label>
          <p class="need-cost">${{ need.cost }}</p>
    </div>

    <div class="age-box">
      <label for="need-age">Tree Age: </label>
      <p class="need-age">{{ need.age }}</p>
    </div>

    <div class="description-box">
      <label for="need-description">Tree Description: </label>
      <ng-container *ngFor="let line of need.description.split('\n')">
        <div *ngIf="line.trim() != ''">
          <p class="description-attribute">{{ line.split(':')[0] }}:</p>
          <p class="description-content">{{ line.split(':')[1] }}</p>
        </div>
      </ng-container>
    </div>

    
    <button (click)="addToCart(need)">Add to Cart</button>
  </div>
</div>
