<div *ngIf="need">
  <h2>Tree Details</h2>
  <div><span>id: </span>{{ need.id }}</div>
  <div>
    <label for="need-name">Need Name: </label>
    <input id="need" [(ngModel)]="need.name" placeholder="need" readonly />
    <br />
    <label for="need-description">Need Description: </label>
    <input
      id="need"
      [(ngModel)]="need.description"
      placeholder="need"
      readonly
    />
    <br />
    <label for="need-cost">Need Cost: </label>
    <input id="need" [(ngModel)]="need.cost" placeholder="Cost" readonly />
  </div>
  <button (click)="addToCart(need)">Add to Cart</button>
  <div class="cart-icon">
    <button class="cart-button" (click)="navigateToCheckout()">
      🛒
      <span class="cart-count">{{ cartService.getCartCount() }}</span>
    </button>
  </div>
</div>
