<div *ngIf="need">
  <h2>{{ need.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ need.id }}</div>
  <div>
    <label for="need-name">Need name: </label>
    <input id="need" [(ngModel)]="need.name" placeholder="need" />
    <br>
    <label for="need-cost">Need Cost: </label>
    <input id="need" [(ngModel)]="need.cost" placeholder="need" />
    <br>
    <label for="need-description">Need description: </label>
    <input id="need" [(ngModel)]="need.description" placeholder="need" />
  </div>
  <button (click)="addToCart(need)">Add to Cart</button>
</div>
